a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn,
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    cursor: pointer;


}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}


.btn--white {
    background: #ffffff;
    color: #777777;

    &::after {
        background-color: #ffffff;
    }
}

.btn--green {
    background-color: #55c57a;
    color: #ffffff;

    &::after {
        background-color: #55c57a;
    }
}

.text-btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 3px;
    border-bottom: 1px solid #55c57a;
    color: #55c57a;
    transition: all .2s;

    &:hover {
        color: #ffffff;
        background-color: #55c57a;
        transform: translateX(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
}

.heading {
    &-secondary {
        font-size: 3.5rem;
        font-weight: 700;
        @include text-transform__uppercase;
        display: inline-block;
        letter-spacing: .2rem;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        color: transparent;
        -webkit-background-clip: text;
        transition: all .2s;


        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            background-color: transparent;
        }
    }

    &-tertiary {
        font-size: 1.6rem;
        font-weight: 700;
    }
}